.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    transition: 150ms ease-in;
}
.product:hover {
    box-shadow: 1px 2px 15px #111;
    transform: scale(1.02);
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    cursor: pointer;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    height: 20px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 3px;
    color: #111;
    border:#a88734 #9c7e31 #846a29;
    outline:0;
}

.product > button:active{
    border: 0.1em solid #00c;
    outline: 0;
}

@media (max-width:750px){
    .product{
        flex-direction: column;
        height: auto;
        zoom: 0.7;
}
    
}