* {
  margin: 0;
  font-family:"Amazon Ember",Arial,sans-serif;
}

body {
  background-color: #f3f3f3;
}

.scrollTop{
  display: flex;
  text-align: center;
  justify-content: center;
  color: #FFF;
  padding: 15px 0;
  line-height: 15px;
  background-color: #37475A;
  margin-top: 10px;
  padding: 17px;
  opacity: 1;
}

.scrollTop:hover{
  opacity: 0.9;
}

.scrollTop > span {
  font-size: 13px;
  cursor:pointer;
  font-weight: 600;
}