.payment {
    background-color: white;
    margin: 10px;
}
.payment__container > h1 {
    text-align: center;
    font-weight: 400;
    background-color: rgb(232, 232, 232);
    padding: 10px;
    border-bottom: 1px solid lightgray;
    
}

.payment__container > h1 a{
    text-decoration: none;
}

.payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title {
    flex: 0.2;
}

.payment__items, 
.payment__address,
.payment__details{
    flex: 0.8;
}

.payment__details > form {
    max-width: 400px;
}

.payment__priceContainer > button {
    cursor: pointer;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 5px;
    height: 25px;
    width: 100%;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 12px;
    border-color: #a88734 #9c7e31 #846a29;
    outline:0;
}